@use './styles/google-button';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgb(100, 100, 241);
  width: 100%;
  box-sizing: border-box;

  a {
    color: inherit;
  }

  .nav-spacer {
    margin-right: auto;
  }

  .nav-login {
    margin-left: auto;
  }
}

.footer {
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(248, 190, 84);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(242, 227, 178);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.body-content {
  flex: 1;
}

.content-container {
  background-color: rgb(64, 170, 64);
  margin: 15px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*
 Month View 
*/

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.month-header {
  border: 1px solid yellow;
  padding: 4px;
  text-align: center;
}

.month-cell {
  border: 1px solid yellow;
  min-height: 80px;
}

/*
 Week View 
*/

.week-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week-cell {
  border: 1px solid yellow;
  min-height: 150px;
  padding: 4px;
  text-align: center;
}

/*
 Day View 
*/

.day-view {
  display: flex;
  flex-direction: column;
}

.day-row {
  border-bottom: 1px solid yellow;
  min-height: 40px;
}